@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700,900');

body{
	font-family: 'Raleway', sans-serif;
}

p{
	font-size: 1.1em;
	letter-spacing: 1.1px;
	line-height: 1.4em;
}

.btn-primary{
	border-radius: 0;
	background-color: transparent;
	border: 3px solid #4285F4;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	transition: all 400ms ease;
	padding: 15px 40px;
}

.btn-primary:hover{
	background-color: #4285F4;
	border-color: #4285F4;
}

section{
	padding: 100px 0;
}

.whitesmoke{
	background-color: whitesmoke;
}

.shadow1{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.shadow2{
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.heading{
	padding: 1em 0em;
    background: #4285F4;
    color: whitesmoke;
}

footer{
	padding: 2em 1em 1em 1em;
    background: #353535;
    color: whitesmoke;
}

.heading span{
	margin: 0 8px;
}

.heading i{
	color: whitesmoke;
	padding: 5px;
}

.navbar-default .navbar-nav > li > a{
	padding: 1.5em 2.0em;
	transition: all 400ms ease;
	font-weight: 600;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #4285F4;
}

header{
	background-image: url(http://placehold.it/1360x768);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	height: 65vh;
}

.header-inner{
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
	z-index: 2;
	color: whitesmoke;
	width: 40%;
}


.title-section {
    color: #666;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.title-section::after{
	display: block;
	border: 3px solid #f14038;
	content: "";
	margin: 25px auto 70px auto;
	width: 100px;

}


.inside-title {
    color: #666;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
}

.inside-title::after{
    display: block;
    border: 3px solid #f04038;
    content: "";
    margin: 25px 0 70px 0;
    width: 100px;

}

.header-inner h1{
	font-size: 3em;
	margin: 30px 0;
	font-weight: 700;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

.overlay2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.product-img-outter:hover .overlay2{
    background-color: rgba(0,0,0,0.5);
}

.product-img-outter:hover .catalogue-img{
    transform: scale(1.03);
}

.product-img-outter:hover .catalogue-img-default{
    transform: scale(1.03);
}

.about-img1{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/about1.jpg);
	height: 400px;
	border-radius: 6px;
}

.services-size{
    height: 104px !important;
    width: 104px !important;
    border: 2px solid #e74c3c !important;
    border-radius: 50% !important;
    text-align: center !important;
    color: #e74c3c !important;
    font-size: 40px !important;
    padding-top: 31px !important;
    margin-bottom: 30px !important;
    transition: all 400ms ease !important;

}

.service-link{
	opacity: 0;
	transition: all 500ms ease;
}

.service-box{
	background-color: transparent;
	padding: 20px;
	transition: all 400ms ease;
}

.service-box:hover{
	background-color: whitesmoke;
}

.service-box:hover > a{
	opacity: 1;
}

.service-box:hover > i{
	background-color: #e74c3c;
	color: white !important;
}

.product{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	height: 460px;
}

.product-inner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 2;
}

.product-inner h1{
	color: whitesmoke;
	margin: 50px 0;
}

.contact-form {
    text-align: right;
}

.contact input[type="text"] {
    width: 100%;
    color: #fff;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .7em 1em;
    margin-bottom: 2em;
    border: solid 1px #fff;
    -webkit-appearance: none;
    display: inline-block;
}

.contact input.email {
    margin: 0 0 0 2em;
}

.contact textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: .6em .8em;
    border: solid 1px #fff;
    min-height: 12em;
    -webkit-appearance: none;
}

.contact input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.6em 4em;
    font-size: 1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #4285F4;
    transition: 0.5s all;
    border: 2px solid #4285F4;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.address h4 {
    font-size: 1.8em;
    color: #4285F4;
    margin-bottom: 0.5em;
}

.address p.cnt-p {
    margin: 0 0 1em;
}
.address p {
    color: #fff;
    margin: .5em 0 0;
}

.social-icons {
    margin: 1.5em 0;
}

.social-icons ul li a{
	color: white;
	font-size: 20px;
}

.address p a {
    color: #fff;
}

.contact{
	background-image: url(../img/contact.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	position: relative;
    z-index: 1;
}

.contact h1{
	color: white;
}

.posted-on:after, .author:after {
    content: '/';
    margin-left: 8px;
}

.posted-on:after, .author:after {
    content: '/';
    margin-left: 8px;
}

.mgt{
	margin-top: 50px;
}

.post-img2{
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    background-image: url(http://placehold.it/600x300);
}

.post-img{
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 220px;
	width: 220px;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.overlay-circle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.post-img:hover .overlay-circle{
	background-color: rgba(0,0,0,0.3);
}

.post-img:hover{
	transform: scale(1.03);
}


.overlay-circle2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.post-img2:hover .overlay-circle2{
    background-color: rgba(0,0,0,0.3);
}

.post-img2:hover{
    transform: scale(1.01);
}

.search-submit {
    font-size: 18px;
    line-height: 1.3333333;
    background-color: #4285F4;
    border: none;
    border-radius: 0;
    padding: 15px 13px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    -webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.search-submit:hover {
    background-color: #2362ca;
    color: white;
    text-decoration: none;
}

.search-field {
    display: block;
    width: 100%;
    border: 0;
    padding: 16px 20px;
    font-weight: 400;
    transition: .25s background;
    border: 1px solid #ddd;
    color: #8d8d8d;
}


.widget-title {
    color: #505050;
    font-size: 25px;
    margin-bottom: 25px;
}

.widget_categories ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.widget_categories ul li {
    padding: 12px 1px;
    border-bottom: 1px solid #e3e3e3;
    font-size: initial;
    text-transform: uppercase;
    color: #000;
}

.widget_categories ul li a {
    color: #8d8d8d !important;
} 

.widget_archive ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.widget_archive ul li {
    padding: 12px 1px;
    border-bottom: 1px solid #e3e3e3;
    font-size: initial;
    text-transform: uppercase;
    color: #000;
}

.widget_archive ul li a {
    color: #8d8d8d !important;
}




.widget_recent_comments ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.widget_recent_comments ul li {
    padding: 12px 1px;
    border-bottom: 1px solid #e3e3e3;
    font-size: initial;
    text-transform: uppercase;
    color: #000;
}

.widget_recent_comments ul li a {
    color: #8d8d8d !important;
}




.widget_recent_entries ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.widget_recent_entries ul li {
    padding: 12px 1px;
    border-bottom: 1px solid #e3e3e3;
    font-size: initial;
    text-transform: uppercase;
    color: #000;
}

.widget_recent_entries ul li a {
    color: #8d8d8d !important;
}

.catalogue-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.catalogue-img2{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.catalogue-img-default{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    background-image: url(http://placehold.it/300x200);
     -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.product-img-outter{
    position: relative;
    overflow: hidden;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.taxonomy{
    padding: 15px 15px 15px 15px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    margin: 10px 0;
    color: whitesmoke;
    background-color: rgba(66, 133, 244, 0.9);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.taxonomy:hover{
    background-color: rgba(66, 133, 244, 1);
}

.pindex{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    margin: 10px 0;
    height: 360px;
}

.pindex-inner{
    padding: 0 15px 15px 15px;
}

.custom-class{
    text-align: left !important;
}

.mybtn{
    outline: none;
    color: #fff;
    padding: 15px 40px;
    font-size: 18px;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background-color: #4285F4;
    transition: 0.5s all;
    border: 2px solid #4285F4;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.mybtn:hover{
    color: whitesmoke;
    text-decoration: none;
    background-color: rgba(66, 133, 244, 0.9);
}

.heading-blog{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    position: relative;
}

.heading-blog-inner{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-blog-inner h1{
    color: whitesmoke;
    font-weight: 900;
    text-align: center;
}

.the-post{
    padding: 20px;
    margin: 15px 0;
}

.post-img-2{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.form-submit > .submit{
    font-size: 18px;
    line-height: 1.3333333;
    background-color: #4285F4;
    border: none;
    border-radius: 0;
    padding: 15px 13px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.form-submit > .submit:hover {
    background-color: #2362ca;
    color: white;
    text-decoration: none;
}

ol.commentlist{
    padding: 0;
}

ol.commentlist .bypostauthor{
    margin: 20px 0;
        list-style-type: none;
}

ol.commentlist .bypostauthor footer{
    padding: 2em 1em 1em 1em;
    background: whitesmoke;
    color: #000;
}

.reply a{
    font-size: 14px;
    line-height: 1.3333333;
    background-color: #4285F4;
    border: none;
    border-radius: 0;
    padding: 8px 13px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.reply a:hover {
    background-color: #2362ca;
    color: white;
    text-decoration: none;
}

.navbar-brand{
    padding-top: 0px;
}

.navbar-brand img{
    width: 120px;
}

.entry-meta{
    background-color: whitesmoke;
    padding: 10px 10px;
}

.navigation{
    margin: 40px 0;
}

.navigation a{
    background-color: rgba(66, 133, 244, 0.9);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 2;
    padding: 11px 30px 8px 30px;
    margin: 15px 10px;
    color: whitesmoke;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.navigation a i{
    font-size: 24px;
}

.navigation a:hover{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}